<div>
    <div class="headerStyle">
        <img id="mobileLogo" src="./assets/img/menu_icons/capa_3.svg">
        <div id="headerName">Kanban Project Management Tool</div>
        <div id="smalInterface">
            <div id="help">
                <a href="help.html"><img src="./assets/img/menu_icons/help.svg"></a>
            </div>
            <div id="user" onclick="showHiddenMenu();">
                <span id="use_name"></span>
            </div>
        </div>
    </div>
    <div class="hiddenMenuPos">
        <div id="hiddenMenu" class="hiddenMenuText" style="display: none;">
            <a onclick="hideHiddenMenu();" href="./legal.html" target="_blank">Legal Notice</a>
            <a onclick="hideHiddenMenu();" href="./privacy.html" target="_blank">Privacy Policy</a>
            <a onclick="logout();">Log out</a>
        </div>
    </div>
</div>