<div id="mobileSideMenuBox">
    <a href="./summary.html">
        <div id="sideSummaryMobile" class="linkAlign menuHover"><img id="sideImgSummaryMobile" class=""
                src="./assets/img/menu_icons/summary.svg">
            <p id="linkSummaryMobile" class="menuLink">Summary</p>
        </div>
    </a>
    <a href="./add_task.html">
        <div id="sideAddTaskMobile" class="linkAlign menuHover"><img id="sideImgAddTaskMobile" class=""
                src="./assets/img/menu_icons/add_task.svg">
            <p id="linkAddTaskMobile" class="menuLink">Add Task</p>
        </div>
    </a>
    <a href="./board.html">
        <div id="sideBoardMobile" class="linkAlign menuHover"><img id="sideImgBoardMobile" class=""
                src="./assets/img/menu_icons/board.svg">
            <p id="linkBoardMobile" class="menuLink">Board</p>
        </div>
    </a>
    <a href="./contacts.html">
        <div id="sideContactsMobile" class="linkAlign menuHover"><img id="sideImgContactsMobile" class=""
                src="./assets/img/menu_icons/contacts.svg">
            <p id="linkContactsMobile" class="menuLink">Contacts</p>
        </div>
    </a>
</div>