<div id="logo">
    <img src="./assets/img/menu_icons/white_logo.svg">
</div>
<div id="menuBox">
    <a href="./summary.html"><div id="sideSummary" class="linkAlign menuHover"><img id="sideImgSummary" class="" src="./assets/img/menu_icons/summary.svg"><p id="linkSummary" class="menuLink">Summary</p></div></a>
    <a href="./add_task.html"><div id="sideAddTask" class="linkAlign menuHover"><img id="sideImgAddTask" class="" src="./assets/img/menu_icons/add_task.svg"><p id="linkAddTask" class="menuLink">Add Task</p></div></a>
    <a href="./board.html"><div id="sideBoard" class="linkAlign menuHover"><img id="sideImgBoard" class="" src="./assets/img/menu_icons/board.svg"><p id="linkBoard" class="menuLink">Board</p></div></a>
    <a href="./contacts.html"><div id="sideContacts" class="linkAlign menuHover"><img id="sideImgContacts" class="" src="./assets/img/menu_icons/contacts.svg"><p id="linkContacts" class="menuLink">Contacts</p></div></a>
</div>
<div id="infos">
    <a target="_blank" href="./privacy.html">Privacy Policy</a>
    <a target="_blank" href="./legal.html">Legal notice</a>
</div>
